<div class="row mt-5">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">類別</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>全部</option>
      <option value="1">家居物業</option>
      <option value="2">交通出行</option>
      <option value="3">餐飲食品</option>
      <option value="4">其他</option>
    </select>
  </div>

</div>
<div class="row align-items-center">

  <div class="col-1">總金額:</div>
  <div class="col-4 h2 text-danger">{{totalAmount}}</div>

</div>
{{#each lists}}
<div class="row mt-3 mb-1 align-items-center ">

  <div class="col-md-1 text-center">{{{this.type}}}</div>
  <div></div>
  <div class="col-md-6">
    <div>{{this.name}}</div>
    <div>{{this.date}}</div>
  </div>
  <div class="col-md-1">{{this.amount}}</div>
  <div class="col-md-2"><a href="/{{this._id}}/edit" class="btn btn-primary">修改</a></div>
  <div class="col-md-2">
    <form action="/{{this._id}}/delete" method="POST">
      <button class="btn btn-danger">刪除</button>
    </form>
  </div>

</div>
{{/each}}
<div class="row mt-3">
  <a href="/new" class="btn btn-outline-secondary btn-lg btn-block mt-3">新增支出</a>
</div>